body {
    box-sizing: border-box;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
p {
    text-align: center;
}
.main-header {
    width: 400px;
    padding: 10px;
    margin: 0px;
    background-color: #93c47e;
    font-size: 20px;
    color: white;
    text-align: center;
}
.remove {
    background-color: #e16666;
    color: white;
    border: none;
    height: 20px;
    width: 20px;
    margin: 0 10px 0 0;
}
.remove:hover {
    background-color: #db4343;
    cursor: pointer;
}
.skills-list {
    color: #f6ab42;
    list-style: none;
    width: 400px;
    padding: 0px;
    margin: 0px;
}
#new-skills-input-area {
    width: 300px;
    height: 32px;
    margin: 0 15px 0 0;
    border: 3px solid #93c47e;
    font-size: 15px;
}
#add-skills-button {
    width: 100px;
    height: 40px;
    border: 3px solid #93c47e;
    color: #93c47e;
    font-size: 15px;
    background-color: white;
}
#add-skills-button:hover {
    cursor: pointer;
}
li {
    margin: 8px;
}
.where {
    text-align: center;
}
